<div class="container mt-5 mb-5">

  <h1 class="text-center">About Us</h1>

  <p>
    GoodMeals.com will provide an easy to use and navigate user interface that will allow users to place online order at any of the participating restaurants
     within the given area. The website will also allow users to place order for weekly or weekend lunches and dinner choosing from the available cuisine types.
      Every order placed at GM will earn user points that can be redeemed for gift vouchers from the participating restaurants.
      <br/>

      <br/>

  </p>

</div>
